.hidden {
  display: none;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.row {
  max-width: 100%;
  display: flex;
}

.col-full {
  width: 100%;
}

.col-5 {
  width: calc(100 / 5);
}

@media screen and (max-width: 390px) {
  .agents-title {
    width: 20em;
  }

  .col-5 {
    width: calc(100 / 3);
  }
}
