.hidden {
  display: none;
}

body {
  overflow: hidden;
}

.row {
  width: 100%;
  display: flex;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-20 {
  width: 20%;
}

.col-80 {
  width: 80%;
}

@media screen and (max-width: 390px) {
  body {
    overflow: scroll;
  }

  .col-half {
    width: 100%;
  }
}
