header {
  position: fixed;
  background-color: black;
  color: white;
  height: 5em;
  width: 100%;
  z-index: 1;
}

a,
button {
  cursor: pointer;
}

.val-logo {
  margin: 0.5em;
  text-align: center;
}

.val-font {
  font-family: VALORANT, sans-serif;
  color: white;
}

.tomorrow-font {
  font-family: Tomorrow, sans-serif;
}

.noto-font {
  font-family: "Noto Sans", sans-serif;
}

.button-container {
  width: 5em;
  height: auto;
  text-align: center;
  margin: 1.5em 1em;
  color: #fe4656;
  font-size: 1em;
}

.color-bg {
  min-width: 100%;
  min-height: 1024px;
  background-image: url("background-images/ajax-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.bw-bg {
  min-width: 100%;
  min-height: 1024px;
  background-image: url("background-images/ajax-background-bw.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  filter: brightness(150%);
  filter: contrast(105%);
}

.main-title {
  font-size: 68px;
}

.main-container {
  position: fixed;
  text-align: center;
  margin-top: 10em;
}

.start-button {
  background-color: #fe4656;
  width: 10em;
  height: 3em;
  font-size: 24px;
  border: white 1px solid;
  padding: 1em;
  margin-top: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.shadow {
  max-width: 50em;
  max-height: 100%;
  margin: auto;
  background-color: black;
  opacity: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.agents-section {
  max-width: 50em;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.agents-title {
  position: relative;
  background-color: #fe4656;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5em;
}

.agents-text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2em;
  font-size: 45px;
}

.agent-icon-container {
  width: 100%;
  height: 35em;
  margin-top: -2em;
  margin-left: -2em;
}

.agent-icon {
  width: 80px;
  height: 80px;
  margin-left: 1.7em;
  margin-right: 1.7em;
}

.agent-list {
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.title-container {
  position: relative;
  background-color: #fe4656;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5em;
}

.details {
  max-width: 50em;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.agent-name {
  color: #fe4656;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.3em;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: bolder;
}

.role-name {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: -0.5em;
}

img.agent-portrait {
  height: 600px;
  margin-top: 0;
  margin-left: -5em;
}

.portrait-container {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.details-container {
  width: 100%;
}

.details-background {
  height: 575px;
  background-color: #333;
  border: 1px solid white;
  border-radius: 2%;
}

.detail-header {
  text-align: center;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.detail-text {
  color: white;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  font-size: 11px;
  font-weight: 300;
  padding-right: 0.5em;
}

.ability {
  width: 75px;
  margin-left: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ability-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

p.ability-description {
  margin: 0;
}

.agents-button {
  text-align: center;
  margin-top: 0.5em;
}

.a-agent {
  color: #fe4656;
  text-transform: uppercase;
  font-size: 32px;
}

@media screen and (max-width: 390px) {
  div.agents-title {
    margin: auto;
  }

  li.agent-list-item {
    width: 100px;
    height: 100px;
  }

  h1.agent-name {
    margin-top: 2em;
    font-size: 40px;
  }

  h2.role-name {
    font-size: 20px;
  }

  .agent-portrait {
    max-height: 250px;
    padding-left: 10em;
  }

  .ability {
    width: 50px;
  }

  .detail-text {
    font-size: 10px;
  }

  .ability-description {
    font-size: 10px;
  }

  .a-agent {
    font-size: 18px;
  }

  .details-container {
    width: 80%;
    margin: auto;
  }

  .details-background {
    height: 525px;
  }

  .portrait-container {
    height: 250px;
  }
}
