header {
  position: fixed;
  background-color: black;
  color: white;
  height: 5em;
  width: 100%;
  z-index: 1;
}

a,
button {
  cursor: pointer;
}

.val-logo {
  margin: 0.5em;
  text-align: center;
}

.val-font {
  font-family: VALORANT, sans-serif;
  color: white;
}

.tomorrow-font {
  font-family: Tomorrow, sans-serif;
}

.noto-font {
  font-family: "Noto Sans", sans-serif;
}

.button-container {
  width: 5em;
  height: auto;
  text-align: center;
  margin: 1.5em 1em;
  color: #fe4656;
  font-size: 1em;
}

.color-bg {
  min-width: 100%;
  min-height: 1024px;
  background-image: url("background-images/ajax-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.bw-bg {
  min-width: 100%;
  min-height: 1024px;
  background-image: url("background-images/ajax-background-bw.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  filter: brightness(150%);
  filter: contrast(105%);
}

.main-title {
  font-size: 68px;
}

.main-container {
  position: fixed;
  text-align: center;
  margin-top: 10em;
}

.start-button {
  background-color: #fe4656;
  width: 10em;
  height: 3em;
  font-size: 24px;
  border: white 1px solid;
  padding: 1em;
  margin-top: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.shadow {
  max-width: 50em;
  max-height: 100%;
  margin: auto;
  background-color: black;
  opacity: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.agents-section {
  max-width: 50em;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.agents-title {
  position: relative;
  background-color: #fe4656;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5em;
}

.agents-text {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2em;
  font-size: 45px;
}

.agent-icon-container {
  width: 100%;
  height: 42em;
  margin-top: -2em;
  margin-left: -2em;
}

.agent-icon {
  max-width: 80px;
  max-height: 80px;
  margin-left: 1.7em;
  margin-right: 1.7em;
}

.agent-list {
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.title-container {
  position: relative;
  background-color: #fe4656;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5em;
}

.details {
  max-width: 50em;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.agent-name {
  color: #fe4656;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.3em;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: bolder;
}

.role-name {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: -0.5em;
}

img.agent-portrait {
  height: 600px;
  margin-top: -1em;
  margin-left: -5em;
}

.portrait-container {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.details-container {
  width: 100%;
}

.details-background {
  height: 575px;
  background-color: #333;
  border: 1px solid white;
  border-radius: 2%;
}

.detail-header {
  text-align: center;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.detail-text {
  color: white;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  font-size: 11px;
  font-weight: 300;
  padding-right: 0.5em;
}

.ability {
  width: 75px;
  margin-left: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ability-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

p.ability-description {
  margin: 0;
}

.agents-button {
  text-align: center;
  margin-top: 0.5em;
}

.a-agent {
  color: #fe4656;
  text-transform: uppercase;
  font-size: 32px;
}

.mobile-display {
  width: 100%;
  display: flex;
}

.create-container {
  text-align: center;
}

.create-container-two {
  text-align: center;
}

.create-button {
  color: white;
  background-color: #fe4656;
  border: none;
  border-radius: 5px;
  padding: 0.3em 3em;
  font-size: 20px;
  height: auto;
}

.agent-comp-list {
  margin-top: 6em;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-left: -1em;
}

.select-container {
  background-color: rgb(255, 255, 255, 0.5);
  width: 100px;
  height: 100px;
  border: 3px solid #fe4656;
  border-radius: 10px;
}

.inline {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: -3em;
  margin-bottom: 1em;
}

div.select-container > img {
  margin-bottom: -4.5em;
  margin-left: 0.5em;
}

.submit-container {
  text-align: center;
}

.submit-button {
  color: white;
  background-color: #fe4656;
  border: none;
  border-radius: 5px;
  padding: 0.3em 3em;
  margin-top: 1em;
  font-size: 20px;
  height: auto;
  width: 20em;
}

.entries-title {
  position: relative;
  background-color: #fe4656;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5em;
}

.create-comp {
  color: white;
  background-color: #fe4656;
  border: none;
  border-radius: 5px;
  padding: 0.3em 3em;
  font-size: 20px;
  height: auto;
}

.entries-container {
  width: 100%;
  height: 35em;
  margin-top: -2em;
  margin-bottom: 2em;
  text-align: center;
  overflow-y: auto;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4em;
}

.entry-container {
  min-width: 100%;
  display: inline-flex;
}

.no-entries {
  color: white;
  margin: auto;
}

.no-entries-container {
  width: 50em;
  text-align: center;
}

.delete-button {
  background-color: #fe4656;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: auto;
  height: 2em;
  margin-top: 2em;
  margin-left: 3em;
}

.delete-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(0 0 0 / 50%);
}

.modal {
  max-width: 25em;
  max-height: 10em;
  margin: auto;
  border-radius: 5px;
  background-color: #333;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-text {
  font-weight: 400;
  min-width: 100%;
  margin-top: 2em;
  font-family: sans-serif;
  text-align: center;
}

.modal-buttons {
  justify-content: space-between;
}

.cancel-button {
  background-color: darkgrey;
  color: black;
  text-transform: uppercase;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 1em;
  margin-top: 1.5em;
  margin-right: 10em;
}

.confirm-button {
  background-color: rgb(214, 0, 0);
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 1.5em;
  margin-right: 1em;
}

@media screen and (max-width: 390px) {
  header {
    width: 100%;
  }

  div.agents-title {
    margin: auto;
  }

  li.agent-list-item {
    text-align: center;
    width: 100px;
    height: 100px;
  }

  h1.agent-name {
    margin-top: 2em;
    font-size: 40px;
  }

  h2.role-name {
    font-size: 20px;
  }

  .agent-portrait {
    max-height: 250px;
    padding-left: 10em;
  }

  .ability {
    width: 50px;
  }

  .detail-text {
    font-size: 10px;
  }

  .ability-description {
    font-size: 10px;
  }

  .a-agent {
    font-size: 18px;
  }

  .details-container {
    width: 175%;
    position: relative;
    margin-left: 1.5em;
  }

  .details-background {
    height: 525px;
  }

  .portrait-container {
    height: 250px;
  }

  .mobile-display {
    display: inline-block;
  }

  .create-container {
    margin-top: 2em;
  }

  .inline {
    margin-bottom: 1em;
    flex-wrap: wrap;
  }

  .agent-comp-list {
    margin-left: -2em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .select-container {
    background-color: rgb(255, 255, 255, 0.5);
    width: 100px;
    height: 100px;
    border: 3px solid #fe4656;
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.75em;
    margin-right: 0.75em;
  }

  .submit-button {
    margin-top: 0;
    width: 13em;
  }

  .agent-icon {
    width: 100%;
    height: auto;
  }

  .no-entries-container {
    width: 25em;
  }

  .entry > div {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0.5em;
  }

  .entry {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .entry-container {
    margin-left: -2em;
  }

  .delete-button {
    margin-left: 1em;
    margin-top: 4em;
    font-size: 18px;
  }

  .entries-title {
    margin-bottom: 2em;
  }

  .agent-icon-container {
    height: 75%;
  }

  .comp-select {
    margin-top: -5em;
  }

  .modal {
    width: 80%;
    height: auto;
  }

  .confirm-button {
    margin-left: -2.5em;
  }
}
